@model Finalproject.Models.MemberModel
@{
    ViewBag.Title = "Register";
}

<style>    .mcen {
        position: fixed;
        top: 50%;
        left: 50%;
        width: 30em;
        height: 25em;
        margin-top: -12em;
        margin-left: -15em;
    }
</style>
<div class="mcen">
@using (Html.BeginForm("PostRegister", "Home", FormMethod.Post))
{<br/>
    <h3 style="font-family:Cambria;font-weight:bold;margin-left:5em;">Register</h3>
    <br />
    <div class="form-group">
        <br />
        @{ 
               }

        <label>Email Id</label><label style="color:darkolivegreen"> *</label><br />
        @Html.TextBoxFor(a => a.EmailId, new { @class = "form-control" })
        @Html.ValidationMessageFor(a => a.EmailId, "", new { style = "color:white;" })

    </div>
    <br/>
    <div class="form-group">
        <label>Password</label><label style="color:darkolivegreen"> *</label><br />
        @Html.PasswordFor(a => a.Password, new { @class = "form-control", @maxlength = "10" })
        @Html.ValidationMessageFor(a => a.Password, "", new { style = "color:white;" })

    </div><br/>
          <div class="form-group">
              <label>Role</label><label style="color:darkolivegreen"> *</label><br />
              @Html.DropDownListFor(a => a.RoleId, Model.lstnew, "-Select Your Specialization-", new { @class = "form-control" })
              @Html.ValidationMessageFor(a => a.RoleId, "", new { style = "color:white;" })
          </div><br/>
    <div class="form-group">
        <label></label>
        <input type="submit" value="Register" class="btn btn-success" />
    </div>
    <div>@ViewBag.Message</div>
}
    </div>

