
@using Finalproject.Models

@{ using (ProjectEntities1 db = new ProjectEntities1())
    {
        var gdata = db.Admins.FirstOrDefault(a=>a.AdminId==2);
        <link href="~/Content/StyleSheet1.css" rel="stylesheet" />
        <marquee>
            <p style="font-weight:bolder;font-family:Courier New, Courier, monospace; font-size:18px;padding-left:3em;"><img src="~/Images/iconimage.png" height="20" width="20" /> Welcome @gdata.FirstName @gdata.LastName</p>
        </marquee>
    }
}
<div class="container">
    <div class="box">
        <div class="menu">
            <div class="logo-box"></div>
            <div class="menu-list">
                <ul style="list-style-type:none;line-height:300%">
                    <li>

                        <a href="@Url.Action("AdminHome", "Admin")" style="color:white; font-size:12px">
                            <span class="icon"><i class="fade fa-home"></i></span>
                            <span class="title">Dashboard</span>
                        </a>
                        <br />
                    </li>
                    <li>
                        <a href="@Url.Action("EditAdmin", "Admin")" style="color:white; font-size:12px">
                            <span class="icon"><i class="fade fa-home"></i></span>
                            <span class="title">Edit Profile</span>
                        </a>
                        <br />
                    </li>
                    <li>

                        <a href="@Url.Action("AdminChangePass", "Admin")" style="color:white; font-size:12px">
                            <span class="icon"><i class="fade fa-home"></i></span>
                            <span class="title">Change Password</span>
                        </a>
                        <br />
                    </li>

                    <li>

                        <a href="@Url.Action("AddDrugsAdmin", "Admin")" style="color:white; font-size:12px">
                            <span class="icon"><i class="fade fa-home"></i></span>
                            <span class="title">Add/Edit Drug Details</span>
                        </a>
                        <br />
                    </li>








                    <li>
                        <a href="@Url.Action("ViewDrugsAdmin", "Admin")" style="color:white; font-size:12px">
                            <span class="icon"><i class="fade fa-home"></i></span>
                            <span class="title">View/Delete Drugs</span>
                        </a>
                        <br />
                    </li>

                    <li>
                        <a href="@Url.Action("ViewOrder", "Admin")" style="color:white; font-size:11px">
                            <span class="icon"><i class="fade fa-home"></i></span>
                            <span class="title">View Order Details(Patient)</span>
                        </a>
                        <br />
                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>
